PREFIX xsd:  <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX cso: <https://github.com/CoreSenseEU/CoreSense/blob/main/models/ontology/coresense_ontologies/CSO/cso.sysml#>
PREFIX csu: <https://github.com/CoreSenseEU/coresense_understanding_bringup/blob/main/preload/understanding.ttl#>

# Example SPARQL insertion template using Jinja2 syntax.
#
# The 'msg' variable contains the incoming ROS message.
# Use the rdf filter to convert ROS values to RDF literals.
#
# Customize this template for your specific message type and topic.


INSERT DATA {
  imu_{{ msg.header.seq | rdf }}_modelet rdf:type cso:Modelet;
    csu:annotatesModelet "{{ msg | serialize }}"^^xsd:string;
    csu:hasFormalism sensor_msgs_Imu_msg;
    csu:hasRepresentationClass imu_rc;
    csu:hasRepresentationClass covariance_matrix_rc;
    csu:modelsConcept orientation_concept;
    csu:modelsConcept angular_velocity_concept;
    csu:hasCreationTime {{ msg.header.stamp | rdf }};
    csu:fromFrame {{ msg.header.frame_id | rdf }};
}
