<root BTCPP_format="4">
  <BehaviorTree ID="Get{{ package }}_msg_{{ name_camel }}Modelet">
    <Get{{ package }}_{{ name_camel }}ModeletAction modelet_id="{modelet_id}" modelet="{modelet}" />
  </BehaviorTree>
</root>
