{
  "name": "Get{{ package }}_msg_{{ name_camel }}Modelet",
  "inputs": [
    {
      "name": "modelet_id",
      "formalism" : "ros:msg:std_msgs/msg/String",
      "concepts": [],
      "representation_classes": ["string", "id", "modelet_id"],
      "requirements": []
    }
  ],
  "engine_output": {
    "name": "modelet",
    "formalism" : "ros:msg:{{package}}/msg/{{ name_camel }}",
    "concepts": [
{% for concept in concepts -%}
      "{{ concept }}"
      {% if not loop.last %}, {% endif %}
{%- endfor %}
    ],
    "representation_classes": [
{% for representation_class in representation_classes %}
      "{{ representation_class }}"
      {% if not loop.last %}, {% endif %}
{% endfor %}
    ],
    "properties": [
{% for property in properties %}
      "{{ property }}"
      {% if not loop.last %}, {% endif %}
{% endfor %}
    ]
  },
  "transit_properties": [],
  "time_delay": 0.2,
  "energy_cost": 0.0,
  "resources_consumed": [],
  "resources_blocked": []
}
