

#include "behaviortree_ros2/plugins.hpp"

#include <coresense_modelet_interfaces/get_{{ name }}_modelet.hpp>

void Get{{ name_camel }}ModeletNode::set_coresense_parameter() {
  const std::string path = ament_index_cpp::get_package_share_directory("coresense_modelet_interfaces") + "/config/get_{{ name }}_modelet.json";
  const std::ifstream input_stream(path, std::ios_base::binary);

  if (input_stream.fail()) {
    throw std::runtime_error("Failed to open get_{{ name }}_modelet.json");
  }
  std::stringstream buffer;
  buffer << input_stream.rdbuf();
  if(auto node = node_.lock()) {
    node->declare_parameter("coresense_engine", buffer.str());
  }
}
  /** 
   * @brief Required callback that allows the user to set the goal message.
   *
   * @param goal The goal to be sent to the action server.
   *
   * @return false if the request should not be sent. In that case,
   * RosActionNode::onFailure(INVALID_GOAL) will be called.
   */
bool Get{{ name_camel }}ModeletNode::setRequest(Request::SharedPtr& request) {
  std::string modelet_id;
  getInput("modelet_id", modelet_id);
  triplestar_msgs::msg::QuerySubstitution substitution;
  substitution.variable = "modelet";
  substitution.rdf_term = modelet_id;
  request->substitutions.push_back(substitution);
  // must return true if we are ready to send the request
  return true;
}

float parse_float(std::string rdf_string) {
  return stoi(rdf_string);
}

int parse_int(std::string rdf_string) {
  return stoi(rdf_string);
}

{{ package }}::msg::{{ name_camel }} create_modelet_from_json(std::string json_string) {
  {{ package }}::msg::{{ name_camel }} modelet;
  std::stringstream ss;
  ss << json_string;
  nlohmann::json result = nlohmann::json::parse(ss);
  for (nlohmann::json binding : result["results"]["bindings"]) {
    std::string modelet_id = binding["modelet_id"]["value"].get<std::string>();
    {% for field in fields %}
//TODO check if field_type is basic type, otherwise run another parser?
//TODO implement recursive parser
    modelet.{{ field.name }} = parse_{{ field.type }}(binding[modelet_id + "{{ field.name }}"]["value"].get<std::string>());
    {% endfor %}
  }
  return modelet;

}
  /** 
   * @brief Required callback invoked when the result is received by the server.
   * 
   * It is up to the user to define if the action returns SUCCESS or FAILURE.
   */
BT::NodeStatus Get{{ name_camel }}ModeletNode::onResponseReceived(const Response::SharedPtr& response) {
  //TODO turn json into {{ name }} msg
  setOutput("modelet", create_modelet_from_json(response->result));
  return BT::NodeStatus::SUCCESS;
}

  /**
   * @brief Optional callback invoked when something goes wrong. 
   *
   * It must return either SUCCESS or FAILURE.
   */
BT::NodeStatus Get{{ name_camel }}ModeletNode::onFailure(BT::ServiceNodeErrorCode error) {
    RCLCPP_ERROR(logger(), "Error: %d", error);
    return BT::NodeStatus::FAILURE;
}


// Register this node as a plugin with the BT factory
CreateRosNodePlugin(Get{{ name_camel }}ModeletNode, "Get{{ name_camel }}Modelet");
